<div id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Category Post Count", "CategoryPostCount")</li>
                    <li>@Html.ActionLink("Users Gender Count", "UsersGenderCount")</li>
                    <li>@Html.ActionLink("Google Maps Post Locations", "GoogleMapsPostLocations")</li>
                    <li>@Html.ActionLink("News From Region", "NewsFromRegion")</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
